* {
    margin :0px;
    padding:0px;
}

.a{
    height:150px;
    width:8px;
    background-color: black;
    float: left;
    margin-left:50px;
    transform: skew(-30deg);
    margin-top: 0px;
}
.a2{
    height:150px;
    width:8px;
    background-color: black;

    transform: skew(30deg);
    margin-left:140px;
    margin-top: 30px


}

.a3{
    height:10px;
    width:80px;
    background-color: black;
    margin-left: 60px;
    float: left;
    margin-top: -89px;
}

.b{
    height:100px;
    width:100px;
    border:10px solid black;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
    clear: both;
    display: block;
}
.b1{
    height:100px;
    width:100px;
    border:10px solid black;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
}

.c{
    height: 150px;
    width: 100px;
    border: 10px solid;
    border-radius: 30px 0px 0px 30px;
    border-right: none;
    
}

.d{
    height:175px;
    width:100px;
    border:10px solid black;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
}

.e{
    height:175px;
    width:100px;

    border:10px solid black;
    border-radius: 0px 30px 30px 0px;
    border-right: none;
    background-color: white;
    float: left;
}

.e1{
    height: 10px;
    width: 70px;
    border: 1px solid;
    background-color: black;
    float: left;
        margin-top: -98px;
    margin-left: 8px;
    clear: both;
}
.f{
height:175px;
    width:100px;

    border:10px solid black;
    border-radius: 0px 30px 30px 0px;
    border-right: none;
    background-color: white;
    border-bottom: none;
    float: left;
    clear: both;
}
.f1{
    height: 10px;
    width: 70px;
    border: 1px solid;
    background-color: black;
    float: left;
        margin-top: 82px;
    margin-left: -101px;
}

.g{
    height: 150px;
    width: 100px;
    border: 10px solid;
    border-radius: 30px 0px 0px 30px;
    border-right: none;

}

.g1{
    height:50px;
    width:10px;
    margin-left: 98px;
    margin-top: -62px;
    border:1px solid;
    background-color: black;
    float: left;
}
.g2{

    height: 10px;
    width: 70px;
    border: 1px solid;
    background-color: black;
    float: left;
    margin-top: -74px;
    margin-left: 98px;


}
.g3 {
    height: 60px;
    width: 10px;
    margin-left: 158px;
    margin-top: -62px;
    border: 1px solid;
    background-color: black;
    float: left;
}